.navbar-toggler{
    background-color: rgba(255, 255, 255, 0.7);
}

.emblem{
    height: 60px;
    width: 60px;
}

.emblemPosition {
    justify-content: flex-start;
    align-items: flex-start;
}

.easy{
    width: 60vw;
}

.vert{
width: 50px;
padding-right: 0px;
align-items: flex-start;
display: inline;
}

.verticalText{
    width: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 25px;
    color: #454545;
    margin-top: -15px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
}

.horizontal{
    display: inline;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
}

.face{
    height: 17rem;
    width: 17rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.projects{
    background-color: transparent;
    height: auto;
    position: relative;
}


.info{
    margin: 0px;
    margin-left: 3px;
    padding: 0px;
    display: inline;
    align-items: center;
    text-align: start;
}


.infoBtn{ 
    display: inline;
    padding: .3em;
}

ul.navbar-nav{
   align-items: flex-end;
}

#link{
color: black;   
font-weight: 500;
text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
}

#nav.navbar {
    background-color: transparent;
}

.header {
    height: 80%;
    display: flex;
    width: 100%;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
}

header{
   height: 40rem;
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)),
    url("https://res.cloudinary.com/dqqxdpug2/image/upload/v1644791927/default/header_lx5opb.jpg");
    background-size: 100% 100%;
    background-position: top;
    position: relative;
    width: 100%;
}

.topCont{
    justify-content: flex-start;
}



.intro{
    align-items: center;
}

#card {
    padding: 0px;
}


#cardImage{
    padding: 0px;
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)),
    url("https://res.cloudinary.com/dqqxdpug2/image/upload/v1644726393/default/bg_xzhehh.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.contact{
    background-color: rgba(223,234,238,.7);
    background-position: bottom;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer{
    height: 20vh;
    background-color: rgb(37, 37, 37);
    background-position: bottom;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footLinks{
    display: inline;
}

.list {
    padding: 0px 12px;
}

li > a > img {
    height: 40px;
    width: 40px;
    padding: 3px;
}

.footText{
 color: rgba(250, 235, 215, 0.5);
 padding-bottom: 0px;
}

.closing{
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    border: none;
  }

.flipper {
    transition: transform .8s;
    transform-style: preserve-3d;
    height: 450px;
    -webkit-transform-style: preserve-3d;

  }
  
  .front, .back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
  }
  
  .front {
    background-color: rgba(223,234,238,.7);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
  }
  
  .front:hover {
    box-shadow: 0px 0px 20px 1px #000;
  }
  
  .back {
    transform: rotateY(180deg);
    background-color: rgba(223,234,238,.7);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
  }
  
  .back:hover {
    box-shadow: 0px 0px 20px 1px #000;
  }

.btn:hover {
    box-shadow: 0px 0px 20px 1px #000;
  }

.holder{
    height: 286px;
    width: 286px;
}