body{
    -webkit-text-size-adjust: none;
}

body > .btn:hover {
    box-shadow: 0px 0px 20px 1px #000;
  }

.navbar .navbar-toggler{
    z-index:1000;
    background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 3000px){
    .navbar .navbar-collapse{
        background:rgba(0,0,0,.95);
        opacity:0;
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        -webkit-transition:opacity 0.35s ease;
        -moz-transition:opacity 0.35s ease;
        -o-transition:opacity 0.35s ease;
        transition:opacity 0.35s ease;
        display:flex;
        flex-direction:column;
        align-content:center;
        text-align:center !important
    }
    .navbar .navbar-collapse.collapse{
        display:flex;
        opacity:0;
        pointer-events:none
    }
    .navbar .navbar-collapse.collapsing[style*="height"]{
        opacity:1;
        height:100vh !important
    }
    .navbar .navbar-collapse.collapsing{
        opacity:0;
        height:100vh
    }
    .navbar .navbar-collapse.collapse.show{
        opacity:1;
        pointer-events:auto
    }
    .navbar .navbar-collapse .navbar-nav{
        margin-right:initial !important;
        margin-top:auto;
        margin-bottom:auto;
        justify-content: center;
    }
}

@media (max-width: 3000px) {
    .navbar-nav {
        margin-left: initial !important;
    }
}

.info{
    margin: 0px;
    margin-left: 3px;
    padding: 0px;
    display: inline;
    align-items: center;
    text-align: start;
}

#nav.navbar {
    background-color: transparent;
}

.infoBtn{ 
    display: inline;
    padding: .3em;
}

#link{
color: rgb(255, 255, 255);  
font-size: 2rem; 
font-weight: 500;
text-shadow: .5px .5px 1px rgb(255, 198, 42, .8);
margin-bottom: 5px;
}

header{
   height: 40rem;
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)),
    url("https://res.cloudinary.com/dqqxdpug2/image/upload/v1644791927/default/header_lx5opb.jpg");
    background-size: 100% 100%;
    background-position: top;
    position: relative;
    width: 100%;
}

.contain{
    width: 100%;
    height: auto;
    display: flex;
}

.home{
    display: inline;
    padding-right: 0px;
}

.emblem{
    height: 100px;
    width: 100px;
    display:inline;
}

.logo{
    width: 100px;
    margin-top: 15px;
}

.lastName{
    color: #003f86;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    font-size: 37px;
    display: block;
    margin-top: -4px;
}

.firstName{
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
    margin-bottom: 0px;
    margin-top: 16px;
    font-size: 37px;
    display: inline-block;
}

.faceCol {
    padding-left: 30px;
    padding-top: 15px;
    
}

.face{
    width: 70vw;
    height: auto;
    max-height: 350px;
    max-width: 350px;
    margin-bottom: 20px;
}

.about{
    padding: 1rem;
    margin-bottom: 0px;
}

.projects{
    background-color: transparent;
    height: auto;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    border: none;
  }

.flipper {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: transform .8s;
    transition: transform .8s;
    transform-style: preserve-3d;
    height: 450px;
  }
  
  .front, .back {
    position: absolute;  
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .front {
    background-color: rgba(223,234,238,.7);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
  }
  
  .front:hover {
    box-shadow: 0px 0px 20px 1px #000;
  }
  
  .back {   
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: rgba(223,234,238,.7);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
  }
  
  .back:hover {
    box-shadow: 0px 0px 20px 1px #000;
  }

#card {
    padding: 0px;
}

#cardImage{
    padding: 0px;
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)),
    url("https://res.cloudinary.com/dqqxdpug2/image/upload/v1644726393/default/bg_xzhehh.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.services {
     height: auto;
     position: relative;
     width: 100%;
     background-image: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .5)),
     url("https://res.cloudinary.com/dqqxdpug2/image/upload/v1644791927/default/header_lx5opb.jpg");
     background-size: 100% 100%;
     margin-top: 3px;
}
.service-title {
    width: 100%;
}

.carousel-div{
    text-align: center!important;
    display: inline-block;
}

.carousel {
    max-width: 600px;
    width: 90vw;
}

#card-item{
    min-height: 50vh; 
}

.carousel-inner{
    min-height: 50vh;
    max-width: 600px;
    position: relative;
    width: 90vw;
}

.carousel .item {
    min-height: 50vh;
    max-width: 600px;
    width: 90vw;
  }

.card-img {
    opacity: .6;
}
  

.space{
    height: 10em;
    position: relative;
}

.testimonials-container {
    position: relative; 
    padding-top: 1em;
    background-color: rgb(228, 205, 199, .2);
    z-index: -1;
  }
  
  @media only screen and (max-width: 850px) {
    .testimonials-bg {
      display: none;
    }
  }

.testimonials-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: .15;
    overflow: hidden
  }
  
  .testimonials-video {
    position:absolute;
        width: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }

.contact{
    background-color: rgba(223,234,238,.7);
    background-position: bottom;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer{
    height: 20vh;
    background-color: rgb(37, 37, 37);
    background-position: bottom;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footLinks{
    display: inline;
}

.list {
    padding: 0px 12px;
}

li > a > img {
    height: 40px;
    width: 40px;
    padding: 3px;
}

.footText{
 color: rgba(250, 235, 215, 0.5);
 padding-bottom: 0px;
}

.closing{
    align-items: center;
    justify-content: center;
}








.holder{
    height: 286px;
    width: 286px;
}